name: dcegm

channels:
  - conda-forge
  - nodefaults
  - opensourceeconomics

dependencies:
  - python >=3.7
  - pip
  - setuptools_scm
  - toml

  # Conda
  - anaconda-client
  - conda-build
  - conda-verify

  # Package dependencies
  - estimagic
  - numpy
  - scipy
  - numba
  - pandas
  - jax
  - networkx

  # Misc
  - black
  - jupyterlab
  - matplotlib
  - nb_black
  - nodejs
  - pdbpp
  - pre-commit
  - pydot
  - pytest
  - pytest-cov
  - tox-conda
  - sphinx
  - sphinx-panels
  - sphinxcontrib-bibtex
  - pydata-sphinx-theme>=0.3.0
