---
name: dcegm
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - pytest
  - pytest-cov
  - pytest-xdist

  # Package dependencies
  - numpy
  - scipy
  - numba
  - pandas
  - jax

  # Misc
  - black
  - nb_black
  - flake8
  - jupyterlab
  - matplotlib
  - pdbpp
  - pre-commit
  - setuptools_scm
  - toml

  # Conda
  - anaconda-client
  - conda-build
  - conda-verify
  - tox-conda
  - pip:
      - blackcellmagic
      - furo
      - -e .  # Install dcegm locally

      # Development dependencies
      - git+https://github.com/OpenSourceEconomics/upper-envelope.git
